<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="BOND TECH">
    <title>Collector List</title>
    <!-- IUS | Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- IUS | Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- IUS | Custom styles for this template-->
    <link href="/stylesheets/sb-admin.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <!-- IUS |  Navigation MENU ON THE LEFT-->
    <% include templates/navigation.ejs %>

        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/control_panel">CONTROL panel</a>
                    </li>
                    <li class="breadcrumb-item active">STATUS</li>
                </ol>
            </div>
            <br>
            <br>
            <table class="table table-bordered margin1">
                <thead>
                    <tr><th>ID</th><th>NAME</th><th>PHONE</th><th>CURRENT AREA</th><th>CURRENT STATUS</th></tr>
                </thead>
                    <tbody>
                        <tr>
                            <td><%= resColl.id %></td>
                            <td><%= resColl.name %></td>
                            <td><%= resColl.phone %></td>
                            <td><%= resColl.area %></td>
                            <td><%= resColl.status %></td>
                        </tr>
                    </tbody>
            </table>
           <center>
            <form method="POST" action="./../updateCollectorInfo">
                <br>
                <br>
                <div class="form-group">
                    <input type="hidden" name="theid" value="<%= resColl.id %>"/>
                    <label for="sel1">CHANGE AREA:</label>
                    
                    <select class="form-control custom-form-control" name="thearea" id="thearea">
                        <option>BANANI</option>
                        <option>GULSHAN</option>
                        <option>CHITTAGONG</option>
                        <option>SYLHET</option>
                        <option>NASIRABAD</option>
                        <option>BASHUNDHARA</option>
                        <option>UTTARA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">CHANGE STATUS:</label>
                    <select class="form-control custom-form-control" name="thestatus">
                        <option>ACTIVE</option>
                        <option>INACTIVE</option>
                        <option>SUSPENDED</option>
                    </select>
                </div>
                <input class="btn btn-info custom-form-control" type="submit" value="CHANGE" >
            </form>
        </center>


        </div>


        <!-- IUS |  Footer -->
        <% include templates/footer.ejs %>
            <!-- Logout Modal-->
            <% include templates/logout_model.ejs %>

                <!-- Bootstrap core JavaScript-->
                <script src="/vendor/jquery/jquery.min.js"></script>
                <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <!-- Core plugin JavaScript-->
                <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
                <!-- Custom scripts for all pages-->
                <script src="/javascripts/sb-admin.min.js"></script>
                <!-- Custom scripts for this page-->
                <!-- Toggle between fixed and static navbar-->


                </script>
                </div>
</body>

</html>